.wrapper {
  border-bottom: 0.75rem solid #333333;
  padding: 0.5rem;
}
.contents {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.labelText {
  color: #ffffff;
  font-size: 1.6rem;
}
.backButton {
  cursor: pointer;
}
.backButton:hover {
  opacity: 0.7;
}
