.wrapper {
  width: 100%;
}

.label {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 600;
}

.input {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #333333;
  border-radius: 0.5rem;
  color: #ffffff;
  border: 2px solid #333333;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.input:disabled {
  background-color: rgb(23 23 23);
  cursor: none;
  opacity: 0.7;
}
