.btn {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
}

.icon {
  display: grid;
  place-items: center;
  background-color: rgb(14, 165, 233);
  padding: 1rem;
  border-radius: 9999px;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}
.icon:hover {
  opacity: 0.8;
}

.textWrapper {
  padding: 0.5rem 1rem;
  display: none;
  cursor: pointer;
  background-color: rgb(14, 165, 233);
  border-radius: 9999px;
}

.textWrapper p {
  font-weight: 600;
  color: #ffffff;
  font-size: 1.2rem;
}

.textWrapper:hover {
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .icon {
    display: none;
  }
  .textWrapper {
    display: block;
  }
}
