.item {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.label {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .label {
    display: block;
  }
}
