.item {
  display: flex;
  align-items: center;
  height: 3.5rem;
}

.onlyLogo {
  cursor: pointer;
  padding: 1rem;
}

.logo {
  display: none;
  cursor: pointer;
}

.label {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .onlyLogo {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  .label {
    display: block;
  }
}
